<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.demo.springcloud.order.mapper.OrderMapper">
	
	<select id="findById" resultType="orders">
		select id,price,consumer_id as consumerId from orders where id = #{id} 
	</select>
	
</mapper>